@import '../partials/colors';

@mixin primaryColor {
  color: $primaryColor;
  background-color: map-get($colorsSet, blu);
}

@mixin internalText($dimensione, $peso) {
  font-style: italic;
  color: $headerHover;
  font-size: $dimensione;
  font-weight: $peso;
}

@mixin interpolation($element, $value) {
  background-#{$element}: $value;
}

@mixin colorCondition($boolean) {
  @if $boolean {
    color: red;
  } @else {
    color: green;
  }
}
